@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL STYLES */

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;

    font-family: "Roboto", sans-serif;
    background-color: hsl(235, 18%, 26%);
    color: hsl(234, 29%, 20%);
}

body h1 {
    visibility: hidden;
    position: absolute;
}

button {
    display: block;
    cursor: pointer;

    padding: 2.5rem;
    width: 100%;

    border-radius: 1rem;
    border: transparent;

    background: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);

    font-weight: 700;
    transition: opacity 0.2s ease-in-out;
}
/* LIST STYLES */

ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    list-style-position: inside;
    list-style-image: url("assets/images/icon-list.svg");
}

ul li span {
    position: relative;
    bottom: 0.5rem;
    left: 0.4rem;
}

/* MAIN STYLES */

main {
    background-color: whitesmoke;

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    gap: 3rem;
}

main.hidden {
    display: none;
}
main article {
    padding-left: 2.6rem;
    padding-right: 3rem;
}

figure.img__container {
    background-image: url("assets/images/illustration-sign-up-mobile.svg");
    background-size: cover;
    min-height: 30rem;
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

article div {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    margin-bottom: 4rem;
}

article div h2 {
    font-size: 4rem;
}

/* FORM STYLES */

form {
    margin-bottom: 3rem;

    transition: all 0.2s ease-in-out;
}
form p {
    margin-bottom: 2.5rem;
}
form p {
    position: relative;
}

form p label {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

form p input {
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 1rem;

    transition: all 0.2s;
    outline: transparent;

    display: block;

    font-size: inherit;

    width: 100%;
    padding: 2.5rem;

    background: 0;
}

form p span::before {
    content: "";

    font-size: 1.3rem;
    font-weight: 700;

    color: hsl(4, 100%, 67%);

    transition: all 0.3s ease-in-out;

    opacity: 0;
}
form input:invalid:focus {
    color: hsl(4, 100%, 67%);
    background-color: hsl(4, 65%, 90%);

    border: 1px solid hsl(4, 100%, 67%);
}

form input:invalid:focus ~ span::before {
    content: "Valid email required";

    font-size: 1.3rem;
    font-weight: 700;

    color: hsl(4, 100%, 67%);

    position: absolute;
    top: 0;
    right: 0;

    opacity: 1;
}

form button:hover {
    opacity: 0.95;
}

/* success state styles */

dialog[open] {
    display: flex;
    flex-direction: column;

    padding: 3.5rem;

    min-height: 100vh;
    max-width: 100%;
    background-color: whitesmoke;

    border: 0;
}

dialog[open] div {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: auto 0;
}

.succes h2 {
    line-height: 1;
    font-size: 4rem;
}

.succes button {
    margin-top: auto;
}

/* TABLET & DESKTOP MQ */

@media screen and (min-width: 900px) {
    ul {
        gap: 0.8rem;
    }
    main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        flex-direction: row-reverse;

        min-height: auto;
        max-width: 95rem;
        max-height: 65rem;
        padding: 2.5rem;
        /* padding: 3.5 2.5rem; */

        box-shadow: 0 1rem 2rem hsla(234, 29%, 20%, 0.823);
        border-radius: 1rem;
    }

    main figure.img__container {
        flex: 1.1;

        background-image: url("assets/images/illustration-sign-up-desktop.svg");

        border-radius: 1.5rem;
    }

    main article {
        flex: 1;

        margin: auto;
        padding: 5rem;
        /* margin-left: 1rem; */
    }

    article div {
        gap: 2rem;

        margin-bottom: 4rem;
    }

    article div h2 {
        font-size: 5.5rem;
    }

    /* success state styles for tablet/desktop MQ */

    dialog[open] {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        padding: 3.5rem;

        width: 45rem;
        height: 50rem;
        min-height: auto;
        background-color: whitesmoke;

        display: flex;
        flex-direction: column;

        border-radius: 2rem;

        border: 0;
        box-shadow: 0 1rem 2rem hsla(234, 29%, 20%, 0.823);
        outline: 0;
    }

    .succes div {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        margin: auto 0;
    }

    .succes h2 {
        line-height: 1;
        font-size: 4rem;
    }

    .succes button {
        margin-top: auto;
    }
}
